<div id="login-wrapper">
  <div class="d-flex vh-100 container">
    <div class="d-flex align-items-center">
      <img src="https://homepage.momocdn.net/img/momo-upload-api-220610222354-637904966341393543.png" alt="" />
    </div>
    <div class="flex-grow-1 d-flex justify-content-center align-items-center">
      <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm" class="border p-3 rounded-2 w-75">
        <h2 class="mb-3">Đăng nhập</h2>
        <div class="mb-3">
          <label for="emailOrPhone" class="form-label">Email hoặc số điện thoại</label>
          <input type="email" name="emailOrPhone" id="emailOrPhone" class="form-control"
            placeholder="Nhập email hoặc số điện thoại" required ngModel #emailOrPhone="ngModel" />
          @if (emailOrPhone.invalid && loginForm.submitted) {
          <span class="text-danger">Bạn chưa nhập email!</span>
          }
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Mật khẩu</label>
          <input type="password" name="password" id="password" class="form-control" placeholder="Nhập mật khẩu của bạn"
            required ngModel #password="ngModel" />
          @if (password.invalid && loginForm.submitted) {
          <span class="text-danger">Bạn chưa nhập mật khẩu!</span>
          }
        </div>
        @if (!isValidLoginData) {
        <div class="text-danger mb-3">{{ loginFailMessage }}</div>
        }
        <div class="d-flex justify-content-between mb-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="remember" name="remember" id="remember" ngModel />
            <label class="form-check-label" for="remember">Ghi nhớ đăng nhập</label>
          </div>
          <div>
            <a routerLink="/reset-password">Quên mật khẩu?</a>
          </div>
        </div>
        <button type="submit" class="btn btn-primary w-100 mb-3">
          Đăng nhập
        </button>
        <div class="d-flex justify-content-center">
          <a class="small" routerLink="/register">Chưa có tài khoản? Đăng ký ngay</a>
        </div>
      </form>
    </div>
  </div>
  <app-toast [toastStatus]="3" [message]="'Đang đăng nhập'" [showToast]="isSubmitting"></app-toast>
</div>