<div id="toast-wrapper">
  <div #toast class="toast-container position-fixed bottom-0 end-0 p-3">
    <div
      class="toast align-items-center text-white border-0"
      [ngClass]="{
        'bg-success': toastStatus === 1,
        'bg-danger': toastStatus === 2,
        'bg-primary': toastStatus === 3,
        show: showToast
      }"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
      [attr.data-bs-autohide]="showToast ? 'true' : 'false'"
    >
      <div class="d-flex">
        <div class="toast-body">
          <div class="d-flex align-items-center fs-5">
            {{ message }}
            @if (toastStatus === 1) {
            <i class="fa-regular ms-2 fa-circle-check"></i>
            } @if (toastStatus === 2) {
            <i class="fa-regular ms-2 fa-circle-xmark"></i>
            } @if (toastStatus === 3) {
            <i class="fa-solid ms-2 fa-spinner"></i>
            }
          </div>
        </div>
        <button
          type="button"
          class="btn-close btn-close-white me-2 m-auto"
          data-bs-dismiss="toast"
          aria-label="Close"
        ></button>
      </div>
    </div>
  </div>
</div>
