<div id="change-password-wrapper">
  <div class="d-flex vh-100 justify-content-center align-items-center">
    <form
      (ngSubmit)="onSubmit(changePasswordForm)"
      #changePasswordForm="ngForm"
      class="w-25 border p-3 rounded-2"
    >
      <h2 class="mb-3">Đổi mật khẩu</h2>
      <div class="mb-3">
        <label for="password" class="form-label">Mật khẩu</label>
        <input
          type="password"
          name="password"
          id="password"
          class="form-control"
          placeholder="Nhập mật khẩu của bạn"
          required
          ngModel
          #password="ngModel"
          (input)="onPasswordInput()"
        />
        @if ((password.invalid || !isPasswordCorrect) &&
        changePasswordForm.submitted) { @if (password.invalid) {
        <span class="text-danger">Bạn chưa nhập mật khẩu!</span>
        } @else if (!isPasswordCorrect) {
        <span class="text-danger">Mật khẩu không chính xác!</span>
        } }
      </div>
      <div class="mb-3">
        <label for="newPassword" class="form-label">Mật khẩu mới</label>
        <input
          type="password"
          name="newPassword"
          id="newPassword"
          class="form-control"
          placeholder="Nhập mật khẩu mới"
          required
          ngModel
          #newPassword="ngModel"
        />
        @if ((newPassword.invalid || isPasswordDuplicate) &&
        changePasswordForm.submitted) { @if (newPassword.invalid) {
        <span class="text-danger">Bạn chưa nhập mật khẩu mới!</span>
        } @else if (isPasswordDuplicate) {
        <span class="text-danger"
          >Mật khẩu mới không được trùng với mật khẩu cũ!</span
        >
        } }
      </div>
      <div class="mb-3">
        <label for="reNewPassword" class="form-label"
          >Xác minh mật khẩu mới</label
        >
        <input
          type="password"
          name="reNewPassword"
          id="reNewPassword"
          class="form-control"
          placeholder="Xác minh mật khẩu mới"
          required
          ngModel
          #reNewPassword="ngModel"
        />
        @if ((reNewPassword.invalid || !isPasswordMatch) &&
        changePasswordForm.submitted) {
        <span class="text-danger">Mật khẩu mới không trùng khớp!</span>
        }
      </div>
      <button class="btn btn-primary w-100 mb-3">Đổi mật khẩu</button>
      <div class="d-flex justify-content-center">
        <span class="back-btn small text-decoration-underline" (click)="goBack()">Quay lại</span>
      </div>
    </form>
  </div>
</div>
