<div id="user-profile-wrapper">
  <!-- Modal trigger button -->
  <span
    type="button"
    class=""
    data-bs-toggle="modal"
    data-bs-target="#userProfileModal"
  >
    Chỉnh sửa thông tin
  </span>

  <!-- Modal Body -->
  <!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
  <div
    class="modal fade"
    id="userProfileModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modalTitleId"
    aria-hidden="true"
  >
    <div
      class="modal-dialog modal-dialog-scrollable modal-dialog-centered"
      role="document"
    >
      <div class="modal-content">
        <form (ngSubmit)="onSubmit(userProfileForm)" #userProfileForm="ngForm">
          <div class="modal-header">
            <h5 class="modal-title" id="modalTitleId">Cập nhật thông tin</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="name" class="form-label">Tên</label>
              <input
                type="text"
                name="name"
                id="name"
                class="form-control"
                required
                [(ngModel)]="user.name"
              />
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="text"
                name="email"
                id="email"
                class="form-control"
                required
                [(ngModel)]="user.email"
                disabled
              />
            </div>
            <div class="mb-3">
              <label for="phone" class="form-label">Số điện thoại</label>
              <input
                type="text"
                name="phone"
                id="phone"
                class="form-control"
                required
                [(ngModel)]="user.phone"
              />
            </div>
            <div class="mb-3">
              <label for="dob" class="form-label">Ngày sinh</label>
              <input
                type="date"
                name="dob"
                id="dob"
                class="form-control"
                required
                [(ngModel)]="user.dob.toISOString().split('T')[0]"
              />
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Đóng
            </button>
            <button type="submit" class="btn btn-primary">Lưu</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
