<div id="home-wrapper">
  <app-header [userRole]="1"></app-header>
  <div id="home-introduction" class="bg-primary-light container-fluid">
    <div class="row container mx-auto">
      <div class="col-6 d-flex flex-column justify-content-center">
        <h1 class="text-primary">Nền tảng quyên góp từ thiện Trái tim Net 04</h1>
        <p class="text-secondary">
          Trái Tim Net 04 là nền tảng giúp bạn dễ dàng chung tay quyên góp tiền
          cùng hàng triệu người, giúp đỡ các hoàn cảnh khó khăn trên khắp cả
          nước.
        </p>
      </div>
      <div class="col-6 d-flex justify-content-center">
        <img
          class="pb-5"
          src="https://homepage.momocdn.net/images/momo-upload-api-210118152714-637465804342708477.png"
          alt=""
        />
      </div>
    </div>
  </div>
  <div id="campaigns-container" class="pt-5 container">
    <h2 class="text-primary text-center mb-3">Các hoàn cảnh quyên góp</h2>
    <div class="row">
      @for (item of [].constructor(4); track $index) {
      <div class="col-4 px-3 mb-3">
        <div class="campaign-item border rounded-3 position-relative" (click)="redirectToCampaignDeital()">
          <img
            class="img-fluid"
            src="https://homepage.momocdn.net/blogscontents/momo-amazone-s3-api-240909173829-638615003093038331.jpg"
            alt=""
          />
          <p class="fs-5 fw-bold p-3 m-0">
            Hỗ trợ đồng bào bị ảnh hưởng bởi bão số 3
          </p>
          <div class="d-flex justify-content-between px-3 mb-3">
            <div>
              <p class="m-0 small text-secondary">Đồng bào miền bắc</p>
              <p class="m-0 small text-secondary">Liên hệ: 0123456789</p>
            </div>
            <p class="campaign-time-remain px-2 py-1 rounded-5">Còn 23 Ngày</p>
          </div>
          <div class="px-3">
            <div class="mb-2">
              <strong>5.089.267.286đ </strong>
              <span class="small text-secondary">/ 7.000.000.000đ</span>
            </div>
            <div class="progress mb-3">
              <div
                class="progress-bar bg-primary"
                role="progressbar"
                [ngStyle]="{ width: '72%' }"
              ></div>
            </div>
            <div class="d-flex justify-content-between mb-3">
              <div>
                <p class="text-secondary small m-0">Lượt quyên góp</p>
                <p class="small m-0 fw-bold">107.070</p>
              </div>
              <div>
                <p class="text-secondary small m-0">Đạt được</p>
                <p class="small m-0 fw-bold">72%</p>
              </div>
              <div class="my-auto">
                <button class="btn btn-outline-primary btn-sm small">Quyên góp</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>
