#home-wrapper {
  #home-introduction {
    padding-top: 60px;
    min-height: 400px;
  }
  #campaigns-container {
    .campaign-item {
      .campaign-time-remain {
        background-color: #ffe8e0;
        color: #fc743b;
        font-size: 12px;
      }
      .progress {
        height: 6px;
      }
    }
    .campaign-item::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: transparent;
      border-radius: 8px;
      z-index: 1;
    }

    .campaign-item:hover::after {
      cursor: pointer;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    }
  }
}
