<div id="users-list-wrapper">
  <div class="container">
    <h1 class="py-3 text-primary">Quản lý người dùng</h1>
    <div class="mb-3">
      <input
        type="text"
        class="form-control w-50"
        placeholder="Tìm kiếm người dùng"
      />
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Tên</th>
            <th scope="col">Email</th>
            <th scope="col">Số điện thoại</th>
            <th scope="col">Ngày sinh</th>
            <th scope="col">Vai trò</th>
          </tr>
        </thead>
        <tbody>
          <tr class="">
            <td scope="row">Vũ Trung Kiên</td>
            <td>kienvt25&#64;fpt.com</td>
            <td>0352772959</td>
            <td>23/02/2002</td>
            <td>
              <span class="user-role">Quản trị viên</span>
              <i
                type="button"
                class="fa-solid fa-pen"
                id="changeRoleDropdown"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                data-bs-auto-close="outside"
              ></i>
              <ul
                class="dropdown-menu"
                aria-labelledby="changeRoleDropdown"
              >
                <li type="button" class="dropdown-item">Người dùng</li>
                <li type="button" class="dropdown-item">Quản trị viên</li>
              </ul>
            </td>
          </tr>
          <tr class="">
            <td scope="row">Vũ Trung Kiên</td>
            <td>kienvt25&#64;fpt.com</td>
            <td>0352772959</td>
            <td>23/02/2002</td>
            <td>
              <span class="user-role">Người dùng</span>
              <i
                type="button"
                class="fa-solid fa-pen"
                id="changeRoleDropdown"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                data-bs-auto-close="outside"
              ></i>
              <ul
                class="dropdown-menu"
                aria-labelledby="changeRoleDropdown"
              >
                <li type="button" class="dropdown-item">Người dùng</li>
                <li type="button" class="dropdown-item">Quản trị viên</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
