<div id="users-list-wrapper">
  <div class="container">
    <h1 class="py-3 text-primary">Quản lý người dùng</h1>

    <div class="mb-3">
      <input [(ngModel)]="searchQuery" type="text" class="form-control w-50" placeholder="Tìm kiếm người dùng"
        (input)="onInputSearch()" />
    </div>
    <!-- Display Loading while waiting for data -->
    <div *ngIf="loading" class="text-center">
      <p>Đang tải thông tin</p>
    </div>

    <!-- Display No record message when there are no campaigns -->
    <div *ngIf="!loading && users.length === 0" class="text-center">
      <p>Không có người dùng nào khớp với yêu cầu!</p>
    </div>
    <div class="table-responsive" *ngIf="!loading && users.length > 0">

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Tên</th>
            <th scope="col">Email</th>
            <th scope="col">Số điện thoại</th>
            <th scope="col">Ngày sinh</th>
            <th scope="col">Vai trò</th>
          </tr>
        </thead>
        <tbody>
          @for (user of users; track $index) {
          <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.dob | date: 'dd/MM/yyyy' }}</td>
            <td>
              <span class="user-role">{{ user.role === 1 ? 'Quản trị viên' : 'Người dùng' }}</span>
              <i type="button" class="fa-solid fa-pen" id="changeRoleDropdown" data-bs-toggle="dropdown"
                aria-expanded="false" data-bs-auto-close="outside"></i>
              <ul class="dropdown-menu" aria-labelledby="changeRoleDropdown">
                <li type="button" class="dropdown-item">Người dùng</li>
                <li type="button" class="dropdown-item">Quản trị viên</li>
              </ul>
            </td>
          </tr>
          }
        </tbody>
      </table>
      <!-- Pagination controls -->
      <div class="d-flex justify-content-center mt-3">
        <nav aria-label="...">
          <ul class="pagination">
            <li class="page-item">
              <div class="page-link" [ngClass]="{'disabled': page === 1}" (click)="previousPage()">Previous</div>
            </li>
            <li *ngFor="let pageNum of [].constructor(totalPage); let i = index" class="page-item"
              [class.active]="i + 1 === page" (click)="changePage(i + 1)">
              <div class="page-link">{{i + 1}}</div>
            </li>
            <li class="page-item">
              <div class="page-link" [ngClass]="{'disabled': page === totalPage}" (click)="nextPage()">Next</div>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div>
    </div>
  </div>
</div>