<div id="campaign-detail-wrapper" class="container">
  <div class="mb-3">
    <h1 class="pt-3 mb-3">Hỗ trợ đồng bào bị ảnh hưởng bởi bão số 3</h1>
    <p class="m-0 text-secondary">
      ❤️ Báo Người Lao Động và MoMo đồng hành kêu gọi đóng góp ủng hộ người dân
      các tỉnh phía Bắc chịu thiệt hại bởi bão số 3 (bão Yagi)
    </p>
    <p class="text-secondary">08/09/2024</p>
  </div>
  <div class="row mb-3">
    <div class="col-8">
      <img
        class="img-fluid"
        src="https://homepage.momocdn.net/blogscontents/momo-amazone-s3-api-240909173829-638615003093038331.jpg"
        alt=""
      />
    </div>
    <div class="col-4">
      <div class="px-3">
        <p class="text-primary text-uppercase fw-bold">Thông tin quyên góp</p>
        <div class="border p-2 rounded-2 bg-light mb-3">
          <div class="d-flex mb-3">
            <div>
              <img
                width="44px"
                src="https://homepage.momocdn.net/img/momo-upload-api-221117005051-638042430517274856.png"
                alt=""
              />
            </div>
            <div class="ps-2">
              <p class="m-0 small">Đồng hành cùng dự án</p>
              <span class="text-secondary small"
                >Siêu ứng dụng số 1 Việt Nam</span
              >
            </div>
          </div>
          <div>
            <p class="m-0">Đơn vị nhận tài trợ</p>
            <span class="small text-secondary"
              >Đồng bào miền bắc - 01234567789</span
            >
          </div>
        </div>
        <div class="mb-4">
          <div class="mb-2">
            <span class="fs-5 m-0 fw-bold">5.089.267.286đ </span>
            <span class="text-secondary">/ 7.000.000.000đ</span>
          </div>
          <div class="progress mb-3">
            <div
              class="progress-bar bg-primary"
              role="progressbar"
              [ngStyle]="{ width: '72%' }"
            ></div>
          </div>
          <div class="d-flex justify-content-between mb-3">
            <div>
              <p class="text-secondary m-0">Lượt quyên góp</p>
              <p class="m-0 fw-bold">107.070</p>
            </div>
            <div>
              <p class="text-secondary m-0">Đạt được</p>
              <p class="m-0 fw-bold">72%</p>
            </div>
            <div>
              <p class="text-secondary m-0">Thời hạn còn</p>
              <p class="m-0 fw-bold">23 Ngày</p>
            </div>
          </div>
        </div>
        <button class="btn btn-primary w-100 fw-bold fs-5">Quyên góp</button>
      </div>
    </div>
  </div>
  <div class="mb-3 border-bottom">
    <p class="fs-5 fw-bold">Câu chuyện</p>
    <p>
      Là cơn bão mạnh nhất trong lịch sử khoảng 30 năm trở lại đây tại biển
      Đông, cơn bão số 3 (bão Yagi) với sức gió cấp 12-13 gây ra hậu quả nghiêm
      trọng, làm đảo lộn cuộc sống của người dân ở các tỉnh phía Bắc. “Hoang
      tàn” là cụm từ nhiều người nói về cảnh tượng “chưa từng có” sau bão số 3,
      khi chứng kiến hàng loạt nhà cửa hư hỏng, cột điện gãy đổ, cây xanh bật
      gốc, mái tôn ngổn ngang ngoài đường. Không chỉ chịu tác động ngay trong
      cơn bão, người dân ở một số khu vực còn đối mặt với muôn vàn khó khăn khi
      lũ lụt kéo về sau cơn bão. Mưa lớn kéo dài đang khiến mực nước trên các
      sông, suối dâng cao; gây ra tình trạng ngập lụt nghiêm trọng tại các vùng
      trũng thấp ven sông. Hậu quả là một số khu vực đã xảy ra hiện tượng sập
      cầu, gây thiệt hại nghiêm trọng về tài sản và cơ sở hạ tầng, khiến giao
      thông bị chia cắt và gây khó khăn cho người dân trong việc di chuyển và
      sinh hoạt hàng ngày.
    </p>
  </div>
  <div class="mb-3">
    <p class="fs-5 fw-bold">Các nhà hảo tâm</p>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Tên</th>
            <th scope="col" class="text-end">Số tiền quyên góp</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">Trần Minh Đức</td>
            <td class="text-end">100.000.000đ</td>
          </tr>
          <tr>
            <td scope="row">Vũ Duy Hưng</td>
            <td class="text-end">500.000.000đ</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
