<div class="reset-password-wrapper">
  <div class="d-flex vh-100 justify-content-center align-items-center">
    <form
      (ngSubmit)="onSubmit(resetPasswordForm)"
      #resetPasswordForm="ngForm"
      class="w-25 border p-3 rounded-2"
    >
      <h2 class="mb-3">Quên mật khẩu</h2>
      <div class="mb-3">
        <input
          type="email"
          name="email"
          id="email"
          class="form-control"
          placeholder="Nhập email của bạn"
          required
          ngModel
          #email="ngModel"
          (input)="onEmailInput()"
        />
        @if ((email.invalid || !isExistedEmail) && resetPasswordForm.submitted) {
            @if (email.invalid) {
            <span class="text-danger">Bạn chưa nhập email!</span>
            } @else if (!isExistedEmail) {
            <span class="text-danger">Email không tồn tại!</span>
            } }
      </div>
      <button class="btn btn-primary w-100 mb-3">Đặt lại mật khẩu</button>
      <div class="d-flex justify-content-center">
        <a class="small" routerLink="/login">Quay lại đăng nhập</a>
      </div>
    </form>
  </div>
</div>
