<div id="extend-campaign-wrapper">
  <!-- Modal trigger button -->

  <button
    class="btn btn-primary w-100 fw-bold fs-5"
    data-bs-toggle="modal"
    [attr.data-bs-target]="'#extendCampaignModal' + campaign?.id"
  >
    Gia thêm hạn
  </button>

  <!-- Modal Body -->
  <!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
  <div
    class="modal fade"
    [attr.id]="'extendCampaignModal' + campaign?.id"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modalTitleId"
    aria-hidden="true"
  >
    <div
      class="modal-dialog modal-dialog-scrollable modal-dialog-centered"
      role="document"
    >
      <div class="modal-content">
        <form
          (ngSubmit)="onSubmit(extendCampaignForm)"
          #extendCampaignForm="ngForm"
        >
          <div class="modal-header">
            <h5 class="modal-title" id="modalTitleId">
              Chỉnh sửa thông tin chiến dịch
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <input
                type="text"
                name="title"
                id="title"
                class="form-control"
                [value]="campaign?.title"
                disabled
              />
            </div>
            <div class="mb-3">
              <input
                type="text"
                name="description"
                id="description"
                class="form-control"
                [value]="campaign?.description"
                disabled
              />
            </div>
            <div class="mb-3">
              <textarea
                name="content"
                id="content"
                class="form-control"
                [value]="campaign?.content"
                rows="4"
                disabled
              ></textarea>
            </div>
            <div class="mb-3">
              <input
                type="url"
                name="image"
                id="image"
                class="form-control"
                [value]="campaign?.image"
                disabled
              />
            </div>
            <div class="mb-3">
              <input
                type="number"
                name="limitation"
                id="limitation"
                class="form-control"
                placeholder="Giới hạn quyên góp"
                ngModel
              />
            </div>
            <div class="mb-3 d-flex justify-content-between">
              <div class="w-50 me-2">
                <label for="startDate" class="form-label">Ngày bắt đầu</label>
                <input
                  type="date"
                  name="startDate"
                  id="startDate"
                  class="form-control"
                  [value]="campaign?.startDate | date : 'yyyy-MM-dd'"
                  disabled
                />
              </div>
              <div class="w-50 ms-2">
                <label for="endDate" class="form-label">Ngày kết thúc</label>
                <input
                  type="date"
                  name="endDate"
                  id="endDate"
                  class="form-control"
                  [value]="campaign?.endDate | date : 'yyyy-MM-dd'"
                  ngModel
                />
              </div>
            </div>
            <div>
              <app-multiple-select
                [options]="organizations"
                [selectedItems]="selectedOrganizations"
              ></app-multiple-select>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <app-toast
    [toastStatus]="extendCampaignStatus"
    [message]="extendCampaignMessage"
    [showToast]="extendCampaignShowToast"
  ></app-toast>
</div>
