<div id="header-wrapper">
  <nav
    class="navbar navbar-expand-lg navbar-light bg-light position-fixed vw-100"
  >
    <div class="container-fluid">
      <a class="navbar-brand text-primary" routerLink="/">Ví nhân ái</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
          @if (user?.role) {
          <li class="nav-item">
            <a class="nav-link" routerLink="/users-list">Quản lý người dùng</a>
          </li>
          } @if (user?.role === 2) {
          <li class="nav-item">
            <a class="nav-link" routerLink="/donation-history">Lịch sử quyên góp</a>
          </li>
          }
        </ul>
      </div>
      <div class="d-flex">
        @if (!user) {
        <a class="btn btn-primary me-3" routerLink="/login">Đăng nhập</a>
        <button class="btn btn-outline-primary" routerLink="/register">
          Đăng ký
        </button>
        } @else {
        <div class="dropdown">
          <button
            class="btn btn-outline-primary dropdown-toggle rounded-5"
            type="button"
            id="userSettingDropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            data-bs-auto-close="outside"
          >
            <i class="fa-regular fa-user pe-1"></i>
            <span class="px-1">{{ userName }}</span>
          </button>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="userSettingDropdown"
          >
            <li class="dropdown-item">
              <app-user-profile
                [user]="user"
                (onUserUpdate)="userUpdate()"
              ></app-user-profile>
            </li>
            <li class="dropdown-item" routerLink="/change-password">
              Đổi mật khẩu
            </li>
            <li class="dropdown-item" (click)="logout()">Đăng xuất</li>
          </ul>
        </div>
        }
      </div>
    </div>
  </nav>
</div>
